<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RMQHost" value="167.205.7.226" />
    <add key="RMQVHost" value="/ibin" />
    <add key="RMQUsername" value="bin" />
    <add key="RMQPassword" value="betanamex82" />
    <add key="RMQQueue" value="request" />
    <add key="RMQSubRoutingKey" value="request.image" />
    <add key="RMQPubQueue" value="response.upc1" />
    <add key="RMQExc" value="amq.topic" />
    <add key="FTPHost" value="ftp://ftp.pptik.id:21/" />
    <add key="FTPUsername" value="ftp.pptik.id|ftppptik" />
    <add key="FTPPassword" value="XxYyZz123!" />
    <add key="FTPResultDirectory" value="BINSTORAGE/RESULT/UPC1/" />
    <add key="HTTPResultPathDirectory" value="http://filehosting.pptik.id/BINSTORAGE/RESULT/UPC1/" />
    <add key="UnitID" value="UPC1" />
    <add key="Source" value="D:\UPC1\RAW\" />
    <add key="Result" value="D:\UPC1\RESULT\" />

  </appSettings>
</configuration>